<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">blog-challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/front">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Administration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/create">Créer un article</a>
        </li>
      </ul>
    </div>
</nav>